/* Color Palette*/
/*
#000
#3B322C
#4E6151
#77a586
#bbd1cc
#b1afae footer text color
#f0edeb div area background option
#fff
#5E5D65 logo and link
#37363b link focus
*/

/* General */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", "Arial", "Helvetica", "sans-serif";
}

.box {
    border: 1px solid #000;
}

.gutter {
    padding: 3rem;
}

@media only screen and (min-width: 900px) {
    .gutter {
        padding: 3rem 8rem;
    }
}

/*Text*/
h1,
h2,
h3,
h4 {
    color: #000;
}



h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.0rem;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #37363b;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

p {
    margin: 0;
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 150%;
    color: #5E5D65;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.underlined {
    text-decoration: underline;
}

blockquote {
    color: #5E5D65;
    background: #f0edeb;
    border-left: 10px solid #5E5D65;
    margin: 1em;
    padding: 1em;
}

.highlight {
    background: linear-gradient(180deg, rgba(255,255,255,0) 25%, #77a586 75%);
}

/* Links */
a {
    color: #5E5D65;
    word-wrap: break-word;
    text-decoration: none;
}

a:hover, a:focus {
    color: #37363b;
    text-decoration: underline;
    outline: 0;
}

.footer a img {
    height: 35px;
    padding: 20px;
}

/* Page Grid */

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "navbar"
        "hero"
        "feat-post"
        "recent-posts"
        "cta"
        "footer";
    height: 100vh;
}

.navbar {
    grid-area: navbar;
}

.hero {
    grid-area: hero;
}

.feat-post {
    grid-area: feat-post;
}

.recent-posts {
    grid-area: recent-posts;
}

.cta {
    grid-area: cta;
}

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}


/* Navbar */
.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "navbar-logo navbar-menu-icon";
    background-color: #f0edeb;
    padding: 0 1rem;
}

.navbar-logo {
    grid-area: navbar-logo;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}

.navbar-menu-icon {
    grid-area: navbar-menu-icon;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.navbar-menu-icon p {
    font-size: 2rem;
}

.navbar-links {
    grid-area: navbar-links;
    display: none;
}

@media only screen and (min-width: 900px) {
    .navbar {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "navbar-logo navbar-links";
        padding: 0 5rem;
    }
    
    .navbar-menu-icon {
        grid-area: navbar-menu-icon;
        display: none;
    }

    .navbar-logo img {
        height: auto;
    }
    
    .navbar-links {
        grid-area: navbar-links;
        display: flex;
        flex-direction: row;
    }

    .navbar-links a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        color: #37363b;
        width: 50%;
    }

    .navbar-links a:hover {
        background-color: #5E5D65;
        color: #fff;
        text-decoration: none;
    }
}

/* Hero */
.hero {
    height: 550px;
    background: linear-gradient(to right,rgba(0, 0, 0, 50%), rgba(0, 0, 0, 0%)), url(../images/dan-backpack.jpg) no-repeat center right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-title {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px #000;
}

.hero-subtitle {
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px #000;
}

.hero-btns {
    display: flex;
    flex-flow: column;
    gap: 2rem;
    margin-top: 2rem;
}

@media only screen and (min-width: 900px) {
    .hero-subtitle {
        width: 50%;
    }

    .hero-btns {
        flex-flow: nowrap;
    }
}

/* Featured Post */
.feat-post {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        "feat-post-title"
        "feat-post-card";
    background-color: #f0edeb;
}

.feat-post-title {
    grid-area: feat-post-title;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.feat-post-card {
    grid-area: feat-post-card;
}

/* Recent Posts */
.recent-posts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        "recent-posts-title"
        "post-cards";
    background-color: #f8f8f8;
}

.recent-posts a:hover, a:focus {
    text-decoration: none;
}

.recent-posts-title {
    grid-area: recent-posts-title;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.recent-posts-title h2 {
    min-width: 190px;
}

/* responsive grid for cards */
.post-cards {
    grid-area: post-cards;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 400px), 1fr));
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

/* Subscribe form */
.cta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    text-align: center;
}

.cta h2 {
    margin: auto;
}

input {
    margin: 1rem;
}

input[type=text] {
    padding: 12px;
    border: 1px solid #808080;
    border-radius: 5px;
    resize: vertical
}

/* Footer */
.footer-social-icons {
    padding: 10px;
}

.footer-social-icons a {
    padding: 10px;
    font-size: 2rem;
    color: #808080;
}

/*Buttons*/
.btn {
    font-family: "Roboto", "Arial", "Helvetica", "sans-serif";
    font-size: 1.0rem;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 15px 20px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.btn:hover .btn:hover {
    text-decoration: none;
}

.btn-primary {
    background-color: #5E5D65;
    border: 3px solid #5E5D65;
    color: #fff;
    padding: 10px;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #37363b;
    border: 3px solid #37363b;
    color: #fff;
    text-decoration: none;
}

.btn-hero {
    border: 1px solid #f0edeb;
    background-color: #f0edeb;
    color: #37363b;
    text-transform: uppercase;
}

.btn-hero:hover, .btn-hero:focus {
    border: 1px solid #37363b;
    background-color: #37363b;
    color: #f0edeb;
    text-decoration: none;
}