html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", "Arial", "Helvetica", "sans-serif";
}

.box {
    border: 1px solid #000;
}

.gutter {
    padding: 2rem;
}

@media only screen and (min-width: 900px) {
    .gutter {
        padding: 3rem 5rem;
    }
}

/*Text*/

h1,
h2,
h3,
h4 {
    font-weight: normal;
    color: #000;
}



h1 {
    font-size: 2.0rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

p {
    margin: 0;
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 150%;
    color: #444;
}

.highlight {
    background: linear-gradient(180deg, rgba(255,255,255,0) 25%, #77a586 75%);
}

/*Text*/

/* Links */
a {
    color: #077059;
    word-wrap: break-word;
    text-decoration: none;
}

a:hover, a:focus {
    color: #099274;
    text-decoration: underline;
    outline: 0;
}

.footer a img {
    height: 35px;
    padding: 20px;
}

/* Page Grid */

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "navbar"
        "hero"
        "feat-post"
        "recent-posts"
        "cta"
        "footer";
    height: 100vh;
}

.navbar {
    grid-area: navbar;
}

.hero {
    grid-area: hero;
}

.feat-post {
    grid-area: feat-post;
}

.recent-posts {
    grid-area: recent-posts;
}

.cta {
    grid-area: cta;
}

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Navbar */
.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "navbar-logo navbar-menu-icon";
    background-color: #fff;
}

.navbar-logo {
    grid-area: navbar-logo;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}

.navbar-menu-icon {
    grid-area: navbar-menu-icon;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.navbar-links {
    grid-area: navbar-links;
    display: none;
}

@media only screen and (min-width: 900px) {
    .navbar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "navbar-logo navbar-links";
        min-height: 70px;
    }
    
    .navbar-menu-icon {
        grid-area: navbar-menu-icon;
        display: none;
    }
    
    .navbar-links {
        grid-area: navbar-links;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem;
    }
}

/* Hero */
.hero {
    height: 550px;
    background: url(/images/dan-backpack.jpg) no-repeat center right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 4rem;
}

.hero-title {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px #000;
}

.hero-subtitle {
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px #000;
}

.hero-btns {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

/* Recent Posts */
.recent-posts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px repeat(4, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        "recent-posts-title"
        "card-one"
        "card-two"
        "card-three"
        "card-four";
    background-color: #f8f8f8;
}

.recent-posts-title {
    grid-area: recent-posts-title;
}

.card1 {
    grid-area: card-one;
}

.card2 {
    grid-area: card-two;
}

.card3 {
    grid-area: card-three;
}

.card4 {
    grid-area: card-four;
}

@media only screen and (min-width: 900px) {
    .recent-posts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 60px repeat(2, 1fr);
        grid-template-areas:
            "recent-posts-title recent-posts-title"
            "card-one card-two"
            "card-three card-four";
    }
}

/*Buttons*/
.btn {
    font-family: "Roboto", "Arial", "Helvetica", "sans-serif";
    font-size: 1.0rem;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    padding: 10px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

.btn:hover .btn:hover {
    text-decoration: none;
}

.btn-primary {
    background-color: #20a999;
    border: 1px solid #20a999;
    color: #fff;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #0e9081;
    border: 1px solid #0e9081;
    color: #fff;
    text-decoration: none;
}

.btn-hero {
    border: 1px solid #fff;
    background-color: #fff;
    color: #rgba(255, 255, 255, 0);
    text-transform: uppercase;
}

.btn-hero:hover, .btn-ghost:focus {
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    text-decoration: none;
}
/*Buttons*/